html, body {
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --heading-stats: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);
    --overlay: hsl(277, 64%, 61%, 0.5);
    background-color: var(--main-background);
    margin: 0;
    font-family: 'Inter', sans-serif;
}

main {
    background-color: var(--card-background);
}

h1 {
    color: var(--heading-stats);
}

.accent {
    color: var(--accent)
}

p {
    color: var(--main-paragraph);
    font-size: 15px;
}

dl {
    color: var(--heading-stats)
}

dd {
    margin: 0;
    color: var(--stat-headings);
    font-family: 'Lexa Deca', sans-serif;
    text-transform: uppercase;
}

.img-container {
    position: relative;
}

.overlay {
    background-color: var(--overlay);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

footer {
    font-size: 11px;
    text-align: center;
}

.footer-link {
    color: hsl(228, 45%, 44%);
}